header {
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}
