.RoomHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 10%;
}
.RoomHeader h1 {
  font-size: 1.2em;
  line-height: 100%;
  font-weight: normal;
  margin: 15px;
}

.RoomHeader p {
  line-height: 100%;
  margin: 15px;
  font-weight: normal;
}

.last-message-at {
  margin-right: 15px;
}
