.Message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 65%;
  background-color: #add8e6;
  border-radius: 10px;
}
.Message .message-sender-icon {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 15px;
  width: 30px;
}

.message-sender-icon img {
  margin-bottom: 3px;
  border-radius: 50%;
}

.Message .message-bubble {
  margin-top: 5px;
  margin-left: 35px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.Message .message-sender-name {
  font-weight: bold;
}

.my-message {
  background-color: lightgreen;
  margin-left: 34%;
}
